


html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }


body {

  background-color: #e4e5e6; }
/*a {
  color: #20a8d8;
  text-decoration: none; }
  a:focus, a:hover {
    color: #167495;
    text-decoration: underline; }
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }*/

/*img {
  vertical-align: middle; }*/


/*
 .col-md-4 {
  position: relative;
  min-height: 1px;
  padding-right: 3px;
  padding-left: 3px; }*/



/*@media (min-width: 768px) {

  .col-md-4 {
    float: left;
    width: 33.33333%; }

}*/

/*.card {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  background-color: #fff;
  border: 1px solid #cfd8dc; }*/


